# Introduction to python 

we will us <b>python</b> crash course book

In [ ]:
print("Helo","Python","Hru",sep="=====", end="\t")
print("ONe more")

In [ ]:
print("Welcome")

# Varaibles

Data types

int , flaot, string, boolean

In [ ]:
a = 10

In [ ]:
print(type(a))

In [ ]:
id(a)

In [ ]:
b = 12.4
type(b)

In [ ]:
c = True
d = False

In [ ]:
type(c)

In [ ]:
name = "AI"
print(type(name))

In [ ]:
name = 45

In [ ]:
type(name)

In [ ]:
val1  = 100

In [ ]:
val2 = val1  # pass by reference

In [ ]:
val2

In [ ]:
val1 = 200

In [ ]:
val2

In [ ]:
id(val1)==id(val2)

In [ ]:
val3 = 200

In [ ]:
id(val1)==id(val3)

In [ ]:
name  = "Pakistan"

In [ ]:
name.count('a')

In [ ]:
name.find('n')

In [ ]:
len(name)

In [ ]:
name.translate()

In [ ]:
name =  "Pakistan"
year = 1947

# i am Pakistan and i came into existance in 1947
print("i am " +name+ " and i came into existance in " +str(year))

In [ ]:
"this is my friend's book"

# String formatting

In [ ]:
name  = input("Enter your name")
age  = input("Enter your age")
print("My name is {} and my age is {}".format(name,age))

In [ ]:
name  = input("Enter your name").split(,)
age  = input("Enter your age")
print(f"My name is {name} and my age is {age}")

In [ ]:
name  = input("Enter your name").split(',')

In [ ]:
name[0]

In [ ]:
# immutable , iterable
name

In [ ]:
name[0]='p'

In [ ]:
print("We are \"Students\" in AI course")

# Operators

  operator: + - * /

In [ ]:
2  +  4

In [ ]:
2.4 + 8

In [ ]:
12 / 5

In [ ]:
12 // 5

Counter >>. increment decrement

In [1]:
age  = 10

In [7]:
age =age + 1
age

16

In [12]:
age +=1
age

21

In [16]:
age -=1
age

17

In [22]:
age *=2
age

272

In [28]:
age //=2
age

4.0

Modulo Operator (%) returns remainder

In [33]:
18%5

3

> , < >=, <=, ==, !=  return boolean values

Logical operators : not , and , or

# Python List

In [37]:
a = []

In [39]:
print(type(a))

<class 'list'>

# indexing

In [41]:
b =    [12, 23.4, False, "Pakistan",[12,34]]
#index [ 0   1      2       3           4]  
#-ve idex[-5 -4     -3     -2           -1 ]

In [42]:
b[2]

False

In [44]:
b[-2]

'Pakistan'

In [47]:
b[-1][1]

34

In [48]:
b[3][4]

's'

In [54]:
a.append("marks")

In [50]:
a

['marks']

In [53]:
a.append("paper")

In [55]:
a

['marks', 'paper', 'paper', 'marks']

In [56]:
a.insert(2,"pencil")
a

['marks', 'paper', 'pencil', 'paper', 'marks']

In [58]:
c = a.copy()

In [59]:
c

['marks', 'paper', 'pencil', 'paper', 'marks']

In [60]:
a.append(["a", "b", 'c'])

In [94]:
a

[]

In [62]:
a.extend(["a", "b", 'c'])

In [63]:
a

['marks', 'paper', 'pencil', 'paper', 'marks', ['a', 'b', 'c'], 'a', 'b', 'c']

In [64]:
a.extend("nasir")

In [65]:
a

['marks',
 'paper',
 'pencil',
 'paper',
 'marks',
 ['a', 'b', 'c'],
 'a',
 'b',
 'c',
 'n',
 'a',
 's',
 'i',
 'r']

In [70]:
a.index('marks', 1)

4

In [71]:
del a[13] # by index
a

['marks',
 'paper',
 'pencil',
 'paper',
 'marks',
 ['a', 'b', 'c'],
 'a',
 'b',
 'c',
 'n',
 'a',
 's',
 'i']

In [80]:
rem=a.remove("pencil")
print(rem)

None

In [78]:
a

['pencil', ['a', 'b', 'c'], 'a', 'b', 'c', 'n', 'a', 's', 'i']

In [93]:
removedValue=[]

In [100]:

removedValue.append(b.pop())

IndexError: pop from empty list

In [101]:
removedValue

[[12, 34], 'Pakistan', False, 23.4, 12]

In [104]:
removedValue.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [105]:
alist = [23,45,43,12,2,78,65,89]

In [110]:
sorted_in_ascending_order = sorted(alist)

In [109]:
sorted_in_descending_order  = sorted(alist,reverse=True)

In [111]:
sorted_in_ascending_order ,sorted_in_descending_order

([2, 12, 23, 43, 45, 65, 78, 89], [89, 78, 65, 45, 43, 23, 12, 2])

# Slicing a list

In [112]:
mylist = [2,3,4,5,6,7,8,9]

In [120]:
sliced = mylist[2:5]

In [121]:
sliced[2]=66

In [122]:
sliced

[4, 5, 66]

In [123]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
newSlice = mylist[:]

In [127]:
aslice = mylist[:55]
aslice

[2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
mylist[-4:]

[6, 7, 8, 9]

In [130]:
yourlist = [1,2,3,4,5,6,7,8,9,0]

In [133]:
yourlist[0:10:3]

[1, 4, 7, 0]

In [134]:
yourlist[-8:8]

[3, 4, 5, 6, 7, 8]

In [135]:
yourlist[5:-9]

[]

In [136]:
yourlist[5:-9:-1]

[6, 5, 4, 3]

In [137]:
yourlist[::-1]

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [147]:
list2d = [[[1,2,3,4,5],[6,7,8,0,0]]]

In [148]:
print(list2d)

[[[1, 2, 3, 4, 5], [6, 7, 8, 0, 0]]]

In [145]:
a= [1,2,3, [1,2,3], [3,5,7]]

In [146]:
a

[1, 2, 3, [1, 2, 3], [3, 5, 7]]